[2016-12-12 13:46] Koepel opened #1 "No Wire.endTransmission() needed after Wire.requestFrom()"
In the file "util/arduino_mpu9250_i2c.cpp" in the function "arduino_i2c_read()", there is a Wire.endTransmission() after the Wire.requestFrom(). The Wire.endTransmission() should only be used when writing data, since the Wire.requestFrom() is a complete I2C session on its own.

The unnecessary extra Wire.endTransmission() causes an extra I2C transaction for the AVR chips (I don't know about other

[2016-12-12 16:19] jimblom commented on #1
Thanks for catching that! Tested and working on a 9DoF Razor M0. Pushed with commit 1251c57.

[2016-12-12 16:19] #1 closed, assigned to nobody

[2017-02-14 04:00] vcortex91 opened #2 "qToFloat mask uninitialized"
see lines 613-621 of src/SparkFunMPU9250-DMP.cpp

in MPU9250_DMP::qToFloat(), mask is not initialized to 0, and thus the top 32-q bits may be set to 1 undesirably

[2017-02-14 04:08] vcortex91 opened #3 "qToFloat mask bits default to short"
on line 618 of src/SparkFunMPU9250-DMP.cpp, in my implementation (Arduino 1.6.5, Atmega32U4 Pro Micro) the variable is assumed to be a uint16_t and causes undesirable behavior when q>15.  probably should be specified as unsigned long.

output from loop with q=16:
1
3
7
F
1F
3F
7F
FF
1FF
3FF
7FF
FFF
1FFF
3FFF
7FFF
FFFFFFFF

[2017-02-14 20:49] vcortex91 opened #4 "dmp_set_fifo_rate() dependent on SMPLRT_DIV"
Note that this concerns a src/util file, and therefore may be out of the scope of Sparkfun contributions.

in dmp_set_fifo_rate() (line 648 of src/util/inv_mpu_dmp_motion_driver.c), I had to change the function to reflect that the DMP FIFO rate appeared to be 4x larger than what I expected it to be:

div hz_expected hz_actual
0 200 800
1 100 400
3 50 200
4 40 160
7 25 100
15 12.5 50

Other relevan

[2017-03-13 15:51] dahlsrud opened #5 "Euler calculation improvements"
SparkFunMPU9250-DMP.cpp line #641 seems to have an error: The multiplication with 2 is superflous.
Apart from that, the Euler angle calculation results in "strange" angles. See discussion here:
https://forum.sparkfun.com/viewtopic.php?f=14&t=45516
With the following code I get expected results:

`static void toEulerianAngle(float w, float x, float y, float z, double& roll, double& pitch, double& y

[2017-03-15 22:40] theonteg commented on #5
I can confirm this.

Opened issue before reading yours in the RAZOR IMU M0 repository [https://github.com/sparkfun/9DOF_Razor_IMU/issues/9](https://github.com/sparkfun/9DOF_Razor_IMU/issues/9)

I also noticed that the yaw values change every time depending on the heading of the board every time it turns on. Is this also a bug?

[2017-04-27 13:56] csmith105 opened #6 "Heading isn't working"
Using https://www.sparkfun.com/products/13762

The compass heading is useless.

[2017-06-05 10:31] MichaelPriven commented on #6
It useless due to 2 reasons
1. the magnetometer isn't calibrated
2. there is an error in the function

{
	if (my == 0)
		**heading = (mx < 0) ? 180.0 : 0;**
	else
		heading = atan2(mx, my);

	if (heading > PI) heading -= (2 * PI);
	else if (heading < -PI) heading += (2 * PI);
	else if (heading < 0) heading += 2 * PI;

	heading*= 180.0 / PI;

	return heading;

should be -
heading = (mx<0) ? **PI**

[2017-06-05 11:36] csmith105 commented on #6
Is this pushed?

[2017-06-05 16:11] MichaelPriven commented on #6
I'm not familiar with github, what do you mean by "pushed"?

[2017-06-06 14:47] hbob commented on #5
I experienced the same bug. As noted in the Sparkfun forum there are still some problems with the proposed computation from Wikipedia. In fact quaternions when representing rotations, must be unit quaternions. As the MPU 9250 uses fixed point calculations this cannot be guaranteed when converting back to floating point numbers and one has to do it manually. So the corrected code would be:

void MP

[2017-06-08 07:42] hmhalvorsen commented on #5
This helped a lot hbob, thank you!

[2017-06-14 11:54] iamchrisb commented on #6
In general it just means "to upload the new code" (pushing)

[2017-06-14 12:19] MichaelPriven commented on #6
OK, I dont know how to push :)

[2017-06-15 19:36] iamchrisb commented on #6
Correct me if I am wrong, as far as I know, you are not the owner of this repository, this means you either have to make a pull request in git (you will find a lot on google for this topic) and the owner has to make the changes available for everyone or.. do a fork of this project and make the changes available on your own git-repository. I think, thats basically it. 💃

[2017-07-07 22:23] sfranzyshen opened #7 "Help with supporting other platforms"
Any chance this code could be ported to work with the esp8266 platform ...

[2017-07-16 05:30] jonathanrjpereira opened #9 "Arduino: SerialUSB not declared in scope"
MPU9250_Basic:20: error: 'SerialUSB' was not declared in this scope

 #define SerialPort SerialUSB

                    ^

C:\Users\Jonathan\Documents\Arduino\libraries\SparkFun_MPU-9250-DMP_Arduino_Library-master\examples\MPU9250_Basic\MPU9250_Basic.ino:26:3: note: in expansion of macro 'SerialPort'

   SerialPort.begin(115200);

   ^

C:\Users\Jonathan\Documents\Arduino\libraries\SparkFun_MPU-92

[2017-07-28 05:56] Jef35 opened #10 "Problem with magnetometer"
I can read the gyroscope and the accelerometer, but not the magnetometer, the values of mx, my, and mz are always zero.

[2017-07-28 07:31] iamchrisb commented on #10
I think some code would help, you might provide a link to your github or something. Besides your problem, I can always refer to [kris winers github](https://github.com/kriswiner/MPU9250/issues) take a look in the issues section I linked, you may find help, unless you are using the DMP, because kris does not recommend to use it.

[2017-07-28 15:31] Jef35 commented on #10
I'm using DMP

[2017-08-01 23:55] TaylorHawkes commented on #5
Above code works for me as well, however I had to change the qToFloat conversion to below code, otherwise I was getting random strange results.

[code]

[2017-08-10 18:18] april4s008 opened #11 "Doesn't work on Arduino Uno"
Hi thanks for the great work. But I found the sketch too large for my Arduino Uno R3 and the memory required is 188% which results in an error.
Is there any MPU 9250 DMP library that works for Uno?

Many thanks!

[2017-08-10 18:39] iamchrisb commented on #11
Don't know in there is another lib for DMP stuff... another question, what data do u need/expect from it?

[2017-08-10 21:10] april4s008 commented on #11
Just need yaw/pitch/roll output directly out of DMP. I've been using raw data of accelerometer/gyro/magnetometer to calculate the yaw/pitch/roll. So I just want to make it simpler using DMP and see if the output is good enough

[2017-08-10 22:22] iamchrisb commented on #11
According to kris winer see [here](https://github.com/kriswiner/MPU6050/wiki/Affordable-9-DoF-Sensor-Fusion) and several issues in his MPU9250 [repository](https://github.com/kriswiner/MPU9250/issues) its not possible to get a reliable yaw from the DMP - the code this sketch is using is also a very old version of kris' sketches, as he said. Did you got reliable yaw/pitch/roll values with the compu

[2017-08-10 22:39] april4s008 commented on #11
I actually used Kris sketch exactly. But probably newer version. With MPU 9250 yaw is pretty stable.
I don't care too much about the yaw, as long as DMP output stable pitch and roll it would be great. The reason I want to try DMP without using other algorithm is that it's simpler.

[2017-09-07 12:21] hbob opened #12 "Unsufficient I2C baud-rate"
The baud-rate between the MPU9250 and the microcontroller is not specified explicitly. When trying to sample the DMP at 200 Hz, this caused some drops in the gyroscope readings, which in turn also affected the angle computation. And therefore my balancing controller was unstable
Adding the line:
`Wire.setClock(400000);` after `Wire.begin();`
in the `inv_error_t MPU9250_DMP::begin(void)` function r

[2017-09-19 16:52] Mikowhy95 commented on #9
Just change SerialUSB to Serial declaration in .ino file. No idea why there is SerialUSB, but Serial works great :)

[2017-09-19 17:43] iamchrisb commented on #9
@Mikowhy95 I'm not sure, but I think this comes from using the "native" serial port of the "arduino zero" as it is advised in this repo to use the zero (I believe the arduino due also has a native serial port).

[2017-09-19 21:52] Mikowhy95 commented on #9
@monstah You're probably right, you explained everything. :)
Please tell me, can the code compiler for the Mega2560 malfunction?
Function from SparkFunMPU9250-DMP.cpp:
[code]
returns always INF. I think this is due to compiler malfunctions.
And function
[code]
Work as it should. SparkFunMPU9250-DMP.h says:
[code]

[2017-09-19 22:55] iamchrisb commented on #9
@Mikowhy95 hm, unfortunately I am not an expert on that, I am relatively new to the microcontroller world, I think. I didn't use the DMP lib from sparkfun until now, I tried a more updated source code from Kris Winer.

What firstly came to my mind, when I read the term "INF" was a devision with the number 0, so maybe a variable in the equation is just zero? Another suggestion would be a really lar

[2017-09-19 23:03] Mikowhy95 commented on #9
@monstah As you I can only guess. :) That's OK! Thank you for answering!

[2017-09-19 23:17] iamchrisb commented on #9
@Mikowhy95 well, I did some quick research to try to understand what happens.. of course the DMP chip has no floating point unit, so there are no "real" floating point numbers.. they need to be converted into q number formats (as on of the comments in the code says) this may help a little bit, understanding the code: https://en.wikibooks.org/wiki/Floating_Point/Fixed-Point_Numbers

[2017-09-20 00:07] Mikowhy95 commented on #9
@monstah  Yes, you are right! It means the point is between #30 and #31 bits. Due to representation of quaternions as a float between -1 and 1, the long int data coming from DMP have to be divided... by some constant. This was pretty easy to find it, because this long have its minimum and maximum what is representation of -1 and 1. Dividing long casted to double by its maximum we can receive float

[2017-10-11 17:53] aster94 opened #13 "you could delete it"
sorry i made an error

[2017-11-18 09:47] #13 closed, assigned to nobody

[2017-12-11 02:19] andymichael09 opened #14 "Which coordinate system does the DMP quaternion for the MPU-9250 initalise in?"
When I use your library to fetch the DMP quaternion, I get different values in different initialising orientations. So, I was wondering which coordinate system the DMP quaternion for the MPU-9250 initalise in? Was thinking that it might just initialise with respect to a gravity vector. Could you confirm whether this is the case/provide any insight?

[2017-12-29 20:48] DiegoSynth commented on #11
Hello,
I'm having exactly the same problem. I was previously using MPU 6050 with jrowberg's library (working perfectly) but I've just switched to MPU 9250 (to get a stable yaw) and the only library (so far) that worked is the SparkFun (basic example). Quaternion example (yaw / pitch / roll) won't fit in my nano (memory).

I haven't worked with raw data before, and you mentioned you managed to calc

[2017-12-30 12:40] Jaarson opened #15 "Quaternions are out of range -1 to 1"
Output quaternions q1, q2, q3 in MPU9250_DMP_Quaternion.ino are in range from -1 to 2. Should be from -1 to 1. Also I noticed pitch angle is not calculated properly - rotating device by 45 deg shows 90 deg pitch angle rotation.

[2018-01-26 08:20] Yury-MonZon opened #16 "Strange reset behaviour"
It works as intended after the first sketch upload. After that if I unplug usb cable thus cutting the both devices power and plug back - the fun starts here) The sketch is working, but this time the response from mpu9250 is like 10 times slower. Here is the weird part - it still works, but just shows the data slower in Serial Monitor and the led blinks slower.

What am I doing wrong? Thanks.

[2018-01-29 08:07] Yury-MonZon commented on #16
The fix found - wrong bootloader was flashed in the Arduino Pro Micro chip. Had to reflash it using AVR ISP mk2 and Arduino IDE. So if you got something like and your board is not genuine SparkFun Pro Micro - then reflash the bootloader.

[2018-02-15 22:49] masha256 opened #17 "SPI support?"
SPI support would be great for a) higher data rates, and b) support more than a few devices without having to use the i2c AD0 pull up/down trick (which for me wasn't working with the MPU-9250).

[2018-02-19 22:31] dminskiy opened #18 "Custom Sercom Ports"
Hello!
I've been trying to change standard Wire to the custom pins 3 and 4.
I tried my best which is definitely not enough. I've done it with other sensors, they worked fine. It's just me not being able to put the code in the right place.
Can you give any advice on that, please?

Here's the code I'm trying out:

[code]

P.S. I tried the beginning of .begin() func in ...MPU9250-DMP.cpp, inv_mpu.c a

[2018-03-08 06:50] imakr commented on #9
@Mikowhy95 @monstah Hello ppl, i have been able to run this DMP on Mega board. First to my surprise, i received INF for Quaternions. Then after doing my research, was able to create a local function  to convert the DMP's Q30 to float:
float q30_to_float(long q30)
{
       return (float) q30 / ((float)(1L << 30));
}
This worked fine and i got my Q's printed as expected.
After continuous  running of

[2018-03-10 12:53] DomFo opened #19 "Timing"
Hi and thank you for this very handy library!

I'm currently getting into the basic example and I noticed that the timestamp (imu.time) it prints out isn't quite consistent. Despite a sample rate (imu.setSampleRate) of 10Hz the timestamp indicates a sample interval of 99ms instead of 100ms every 6 or 7 samples.

Is there a way to get very accurate measurements timewise? So that even if there's a d

[2018-05-30 17:27] shirish47 commented on #12
this also helps to sample at higher rate like 1000Hz @hbob  thank you

[2018-06-20 04:50] muhammetakkus commented on #9
I have same problem how can i solve it? Did you guys solve it?

[2018-06-20 06:16] imakr commented on #9
can you please be specific about your problem @muhammetakkus ? which one are you asking about

[2018-06-20 06:18] muhammetakkus commented on #9
@imakr I am getting this error
'SerialUSB' was not declared in this scope

[2018-06-20 07:06] imakr commented on #9
@muhammetakkus
Edit the line
#define SerialPort SerialUSB
to
#define SerialPort Serial
in .ino file.

[2018-06-20 07:13] muhammetakkus commented on #9
@imakr this time I get this error 'printIMUData' was not declared in this scope
but printUMUData declareded

[2018-06-20 07:18] imakr commented on #9
@muhammetakkus  this isn't an expected error. Please check for any typo's in your .ino file.

[2018-06-20 07:28] muhammetakkus commented on #9
@imakr actually i was using platformio with atom but now i tried in arduino ide and it's done. Thanks your help..

[2018-06-24 16:20] hendrikjvr opened #20 "MPU9250 I2C Address"
Hi, where is the MPU-9250 I2C Address of 0x68 defined, I can't find it? I need to set it to 0x69; the ADO pin, in my case, is set to 1 (HIGH).

[2018-06-24 16:41] hendrikjvr commented on #20
I found it, line 436 and 516 in src/util/inv_mpu.c. Just changed 0x68 to 0x69. It works.

[2018-06-24 16:41] #20 closed, assigned to nobody

[2018-06-25 16:47] #6 closed, assigned to nobody

[2018-06-25 16:51] jimblom commented on #2
Thanks for catching that! Issue should be address in commit 5aacad7.

[2018-06-25 16:51] #2 closed, assigned to nobody

[2018-07-03 17:14] SHikumo opened #21 "Magnetormeter Data seems not right"
When i collect magnetor data MAX and MIN to calculate magnetor offset
I have turned sensor crazy in the air but at the end, this is what i got

[2018-07-31 15:12] raomin commented on #7
I got it working with no issue on ESP8266 (Wemos D1).

[2018-07-31 15:17] raomin opened #22 "Quaternion DMP calulation not working on Mega 2560"
I ran MPU9250_DMP_Quaternion.ino without any problem on an ESP8266.
Now I want to use it on a Arduino Mega 2560 and it returns the following:

[code]

MPU9250_DMP_Gyro_Cal.ino works correctly on the same Arduino Mega 2560.

I tried DMP_FEATURE_6X_LP_QUAT and DMP_FEATURE_LP_QUAT both gives the same.

Also, dmpBegin returns INV_SUCCESS.

I also tried with Wire.setClock(400000), no success...

Any id

[2018-08-01 04:09] kolosy commented on #22
I'm actually running into the same exact issue (same mcu, too). Still debugging, but my hunch is that it's the function that converts the quaternion values from integer math to floats. The raw values seem legit, but go to INF after the call to qToFloat()

[2018-08-01 04:16] kolosy commented on #22
Yeah, confirmed. I'll try to get a PR open when I have a minute, but edit `MPU9250_DMP::qToFloat` and change the integer literals from `1` and `2` to `1L` and `2L`, respectively. That got it working for me.

[2018-08-01 08:24] raomin commented on #22
Good spot! It does return some values now... but the values are weird:
0.5847,**2.2581**,**2.6837**,**2.9126**

Values should stay within [-1,1] and it's not just off by +2... Do you observe the same in your setup?
seems related to https://github.com/sparkfun/SparkFun_MPU-9250-DMP_Arduino_Library/issues/15

[2018-08-02 18:25] oclyke commented on #19
Hi @DomFo, as I was getting familiar with the library I learned some things that could help you find a solution. If you can tell me about your desired application (for example why you need precise timing) that would also be helpful. In the mean time here is my take on what you're seeing:

In the basic example we set the sensor's update rate to  10 Hz with the lines ```imu.setSampleRate(10);``` and

[2018-08-02 19:24] oclyke commented on #18
@dminskiy - At first glance I'm thinking that even if you have started 'IMUWire' correctly that it is not being used in the MPU9250_DMP library because it is currently hard-coded to use Wire (as opposed to Wire1, Wire2, etc...) I will add support for using your own wire port and then try your code.

[2018-08-03 20:19] oclyke commented on #18
So I spent a while longer trying to add flexibility to what I2C port you use. The way I see it there are two parts to the challenge:

1) The DMP version of the library is based on a set of functions provided by InvenSense (you can find them in the src/util folder). These functions are pretty rigid - they have hardcoded data structures that contain device-specific values such as the I2C address (de

[2018-08-03 20:29] oclyke commented on #21
@SHikumo Thanks for submitting an issue. It would be helpful if you could send me more information about how you arrived at that result. For example what microcontroller are you using? Were you using example code or your own custom application (if so posting that code would be great)? And finally what do you expect to see in those values?

This may not directly help but when I was using the [other

[2018-08-09 02:43] kolosy commented on #22
I don't see that on mine.. not sure how it's different from yours

[2018-08-09 07:46] vyi commented on #7
@raomin Would you share how you got it to work with ESP8266 ?

[2018-08-10 06:40] pradeep8892 commented on #22
Hello everyone. I am also facing the same issue. DId anyone get the solution

[2018-08-10 14:07] raomin commented on #7
I simply cloned the master, installed as Arduino library, opened MPU9250_DMP_Quaternion.ino in the exemple, selected the right board WeMos D1 R1 and changed `#define SerialPort SerialUSB` by `#define SerialPort Serial` to avoid `'SerialUSB' was not declared in this scope`

Then it compiles and works perfectly. I use it at 75Hz with no issue.

[2018-08-15 21:57] bboyho commented on #9
Hi,

### Wrong Board Definition

Regarding the original question to this issue [ [https://github.com/sparkfun/SparkFun_MPU-9250-DMP_Arduino_Library/issues/9#issue-243218927](https://github.com/sparkfun/SparkFun_MPU-9250-DMP_Arduino_Library/issues/9#issue-243218927) ], make sure that you are using the correct board definition => [ [https://learn.sparkfun.com/tutorials/9dof-razor-imu-m0-hookup-guide

[2018-08-15 23:46] MiloMindbender opened #23 "Mpu9250 does not work with ESP32 1.0.0 release (latest)"
I have the https://www.sparkfun.com/products/13762 9250 i2c breakout board.  When I got this it seemed to be running fine but with the latest release of ESP32 arduino support this doesn't seem to work any more.

All the samples such as MPU9250 basic appear to startup and are trying to read the 9250 but no data is ever returned.  Checking this on a Saleae logic analyzer shows that all the writes to

[2018-08-16 17:28] MiloMindbender commented on #23
It appears this is a problem in the ESP32 i2c arduino software.  The board works with the 1.0.0-rc3 release but everything newer fails.

[2018-08-16 18:05] MiloMindbender commented on #23
Over on the ESP32 github here https://github.com/espressif/arduino-esp32/issues/1761

They suggested a fix which I tried, but most samples still only work intermittently.  They often work from a cold start but pressing the reset button they will only sometimes start.  After 3 or so presses they generally fail to come up until cold started again.

Some samples still seem to fail 100% of the time.

[2018-08-16 18:47] MiloMindbender commented on #23
Some more info, take a look at https://github.com/espressif/arduino-esp32/issues/1761 for more details.

It appears the 9250 is getting into a state where it pulls sda low and leaves scl high.  Resetting the ESP doesn't clear this.  As long as the 9250 has power it stays stuck this way, only cycling power fixes it.

Is there any way to do a hardware reset of the 9250?  When it gets into this state

[2018-09-11 20:55] MiloMindbender commented on #23
It appears the problem has to do with resetting the CPU when the 9250 is in a particular state.  The transaction doesn't complete and leaves the 9250 holding the bus with SDA low and SCL high.

Some new code has been added to the ESP32 repository to cause the I2C bus to recover if it comes up in a bad state after a boot.  This code will be in the next release or you can get it now by updating to t

[2018-09-11 20:55] #23 closed, assigned to nobody

[2018-10-29 03:40] method-nick opened #24 "Using DMP and Wake on Motion"
Hi everyone,

I'd like to be able to use the DMP function of the MPU9250 with Wake On Motion (WOM).
I want the MPU to maintain it pose calculation (using DMP) when the microcontroller is in sleep mode.
I then want the MPU to wake the microcontroller on an acceleration trigger.

Is there any way to do this with this library? I have seen WOM implemented with the bolder-flight library:
https://github

[2018-11-27 06:14] yo90bosses opened #25 "Esp32 Serial1 not working with this Library"
I'm using the ESP32 and if I use a different Library for the MPU9250 such as the one from BolderFlight then it works flawlessly. But when I use the sparkfun DMP Library with the DMP then it too works fine except for the serial1 where I have a SBUS receiver hooked up. It looks as if when the first bytes are recieved it works but after the first complete set of data I don't get anymore readings from

[2018-12-21 19:04] JohnCalin commented on #11
Hey guys, I had the same issue with my Nano, and found a solution.  You can modify the library to store the gigantic firmware image in flash instead of dynamic memory.
Patch:

[code]

[2019-01-10 11:18] Daniel-t opened #26 "Using two MPU9250s at the same time"
Has anyone managed to use this library (with modification) to support using more than one 9250 at a time?

I've made some basic changes to pass the I2C address through in the begin function, however it gets overwritten by subsequent calls from a different object instance.

[2019-02-13 04:34] gonzaarcr commented on #14
Z is vertical, always, but the plane XY (paralel to the ground) is moving in my case, I think is because the gyro drift. It probably uses the gravity to put it in a more accurate frame, but because it is perpendicular to the ground it can't do anything with that playing.

I don't know why it doesn't use the magnetometer to adjust that; probably because an external magnetic field would broke everyt

[2019-02-21 02:12] ahckmed commented on #11
HERE -> https://github.com/kharlashkin/MPU-9250DMP

[2019-03-13 09:06] bboyho commented on #18
Hi @dminskiy ,

I'm not sure if you got this working already but you should check out this neat tutorial that might be of some use on adding additional SERCOM ports => [ [https://learn.sparkfun.com/tutorials/adding-more-sercom-ports-for-samd-boards/all#adding-an-i2c](https://learn.sparkfun.com/tutorials/adding-more-sercom-ports-for-samd-boards/all#adding-an-i2c).  I haven't tried this specifically

[2019-03-13 09:06] #18 closed, assigned to bboyho, oclyke

[2019-03-15 00:31] santaimpersonator commented on #11
I am closing this issue because this library is only tested and supported for SAMD microprocessors; specifically the SparkFun Razor IMU (see [README.md](https://github.com/sparkfun/SparkFun_MPU-9250-DMP_Arduino_Library/blob/master/README.md)).

- For assistance with finding another DMP, please use our [forum](https://forum.sparkfun.com/) to reach out to the SparkFun community.
- For further assist

[2019-03-15 00:31] santaimpersonator commented on #11
- For assistance with finding another DMP, please use our [forum](https://forum.sparkfun.com/) to reach out to our technical support team and the SparkFun community.- - For further assistance with the yaw accuracy, please file a separate issue or use our [forum](https://forum.sparkfun.com/) for technical as

[2019-03-15 00:31] #11 closed, assigned to nobody

[2019-03-15 00:36] #19 closed, assigned to nobody

[2019-03-15 00:38] #7 closed, assigned to nobody

[2019-03-20 17:51] santaimpersonator commented on #25
Unfortunately, as stated in the [README.md](https://github.com/sparkfun/SparkFun_MPU-9250-DMP_Arduino_Library/blob/master/README.md), this library was written specifically to work on SAMD processors used on our [SparkFun 9DoF Razor IMU](https://www.sparkfun.com/products/14001). If you want this library to work with an ESP32, you will probably need to modify the library for this issue.

[2019-03-20 17:51] #25 closed, assigned to nobody

[2019-03-20 18:05] santaimpersonator commented on #17
Unfortunately, this library was primarily written with our [SparkFun 9DoF Razor IMU](https://www.sparkfun.com/products/14001). If you want this library to work with SPI, you will probably need to modify and create the functionality in the [**util** folder](https://github.com/sparkfun/SparkFun_MPU-9250-DMP_Arduino_Library/tree/master/src/util). As this IMU has been listed as EOL for a while, I am n

[2019-03-20 18:05] #17 closed, assigned to nobody

[2019-03-20 18:07] #16 closed, assigned to nobody

[2019-03-20 18:23] santaimpersonator commented on #9
@imakr If you are getting the quaternion values from the [example firmware](https://github.com/sparkfun/9DOF_Razor_IMU/tree/master/Firmware/_9DoF_Razor_M0_Firmware), I just updated the file to include the gyro calibration; part of that process was [missed](https://github.com/sparkfun/9DOF_Razor_IMU/blob/master/Firmware/_9DoF_Razor_M0_Firmware/_9DoF_Razor_M0_Firmware.ino#L326).

I am closing this i

[2019-03-20 18:23] #9 closed, assigned to bboyho

[2019-03-20 18:44] santaimpersonator commented on #26
As mentioned in the [datasheet](https://cdn.sparkfun.com/assets/learn_tutorials/5/5/0/MPU9250REV1.0.pdf), you need to configure the I2C address through the hardware. Otherwise, you will need to terminate your I2C connection and access your secondary device (see videos below).

- https://www.youtube.com/watch?v=j6B47reye80
- https://www.youtube.com/watch?v=zzieeHmFSis

[2019-03-20 18:44] #26 closed, assigned to nobody

[2019-03-20 19:24] santaimpersonator commented on #24
Unfortunately, that function wasn't created in the library (see examples and keywords). However, the [datasheet](https://cdn.sparkfun.com/assets/learn_tutorials/5/5/0/MPU9250REV1.0.pdf) has a specific example for configuring that functionality on pages 30-31.

[2019-03-20 19:24] #24 closed, assigned to nobody

[2019-03-30 19:59] ghost opened #28 "Calibrate gyro and accel offsets?"
Hello!

I am trying to put a MPU9250 in a car to use for YPR calculations. Since the vehicle and therefore MPU9250 won't always start on a perfectly flat plane I need to apply offsets to the output data.

Is there a easy way to do this using the registers in the MPU9250, or would it be easier to just offset the final calculations?

[2019-04-14 02:26] Sketh opened #29 "How to get absolute yaw with DMP"
Hi i tried  using MPU9250_DMP_Quaternion sketch and get good value  with yaw, but i have a little problem how to do make yaw relative  earth north, i observe roll and pitch is fix when initialization on any attitude, but yaw is not fix.

[2019-05-10 19:48] jon2000 opened #30 "Bricked 3 mkr zero boards with this card - advice please!! :("
I am trying to get the 9250 working but am falling at the first hurdle.  I am trying to run the code at the hookup guide tutorial, but after it compiles and runs my mkrzero is then bricked.  By board three I was super careful - checking resistance between vcc/gnd on the 9250 to check for shorts and I could hook up the board to the mkr zero vcc,gnd, scl and sda and run 'blink' and all is fine - not

[2019-05-13 18:09] marcoarnold99 commented on #22
Hey kolosy
Just wanted to say **thank you**. I've been looking for a way to read this IMU for about 1 month now. With your solution everything works.
Thank you so much and have a great day ^^

[2019-05-14 08:49] raomin commented on #22
I'll close this issue as @kolosy found a solution for the NAN.

[2019-05-14 14:47] kolosy commented on #22
@raomin I'd recommend keeping it open until it's actually fixed in the codebase...

[2019-05-14 16:18] raomin commented on #22
good point.

[2019-05-16 07:33] bboyho commented on #30
Hi,

I have not used the Arduino Zero on the MPU9250 before but it is a SAMD21. Try hitting the reset button twice to see if it re-enumerates if you have not already. The microcontroller has a built-in CDC so there are two COM ports as stated in the [MKRZero's FAQ](https://store.arduino.cc/usa/arduino/arduino-mkr-family/arduino-mkrzero). From my experience with the SAMD21 with a different project,

[2019-05-16 09:56] jon2000 commented on #30
Hey bboyho, awesome the double reset brings the boards back to life!  I thought I had read a lot but missed this trick.

[2019-05-16 09:56] #30 closed, assigned to bboyho

[2019-05-23 18:47] marcoarnold99 commented on #29
I have the same issue at the time. Has anyone an Idea how to solve this problem?

[2019-05-31 08:55] marcoarnold99 opened #32 "endless loop with vibration"
I'm currently building an arduino drone and I have the problem, that the IMU code gets stuck somewhere if the Propeller speed is at a certain rate. This only happens, if the IMU is sticked to the drone. If I take the IMU of the drone and hold it in my hands, there is no error and everything runs fine.

Dos anyone have an idea why this could happen? Is it possible that the IMU gets stuck, when it e

[2019-08-07 10:24] dejanmeznarc commented on #32
Does your battery/PSU provide enough current?

[2019-08-08 11:35] marcoarnold99 commented on #32
Yes it should...
But after a few days of leaving the drone alone, it just worked. Don't know why xD
But thanks for your help ^^

[2019-08-27 12:51] Sketh opened #33 "How to change axis in DMP?"
In my case i want to let 9250 zaxis pointing forward like below, i want change 9250 axis, how can i do this?
[https://i.stack.imgur.com/pdFpI.png](url)

[2019-09-08 14:27] savvn001 commented on #10
Did you ever fix this? Have the same problem also. Accel and gyro works fine but can't get any readings from mag.

[2019-10-02 15:13] #32 closed, assigned to nobody

[2019-10-14 09:43] remi0s commented on #33
any information how to change the axis? I need the z axis to become the y and the opposite.

[2019-10-15 17:26] gabrielshanahan commented on #33
Why can't you just flip the values yourself? By "forward" I'm assuming you mean the direction the Y axis is by default. Assuming you only want to flip the Y and Z axis, you can just do the equivalent of

new_z = old_y
new_y = old_z

in your code.

[2019-10-16 09:33] remi0s commented on #33
i wanted to use directly the quanternions inside Unity enviroment, which has different axis possition. Anyway the reason i needed this was because the roll pitch yaw values werent allways correct. Turns out to be a bug in computeEulerAngles () function as discussed [here](https://forum.sparkfun.com/viewtopic.php?f=14&t=45516).

Using this functions solved my problem:

[code]

[code]

[2019-10-16 15:15] gabrielshanahan commented on #33
Thanks for the explanation and for the code.

Maybe this is what you need?

https://stackoverflow.com/questions/16099979/can-i-switch-x-y-z-in-a-quaternion

From a cursory glance, it looks like you can do the flips in quaternion form, and then just multiply the real part by (-1)^(number_of_flips).

[2019-11-23 02:07] skemp117 opened #36 "~60 MS DELAY EVERY ~.5S"
The IMU will have these random delays/gaps every so often where it doesn't transmit for around 60ms every .5 seconds or so: This is a zoomed in picture of an Euler angle output vs the time log:

![image](https://user-images.githubusercontent.com/44552792/69355844-80709400-0c50-11ea-9c9b-620141c944df.png)

All I am doing is checking fifoAvailable, then doing dmpUpdateFifo. There are no delays or lo

[2019-12-12 07:04] yo90bosses opened #37 "Max sampling rate for DMP"
If I'm using the DMP am I still able to pull gyro and accel data at 1khz?

[2019-12-27 22:08] santaimpersonator commented on #37
As listed in the [hookup guide](https://learn.sparkfun.com/tutorials/9dof-razor-imu-m0-hookup-guide#getting-started-with-the-example-firmware), the example firmware (i.e. DMP) doesn't output data at that rate.

While we are not sure that it would work, you can modify the code for your purposes to test it out.

[2019-12-27 22:08] #37 closed, assigned to nobody

[2019-12-27 22:14] santaimpersonator commented on #36
I would guess that this is probably one of two things, either you are logging data and the buffer being written to an SD card during that period or it is the time it takes to dump the FIFO buffer. However, without narrowing down where in the code this is occurring it is hard to investigate.

[2019-12-28 10:18] savejeff opened #38 "Unable to Read Compass in FiFO mode due to bug"
There is a bug in the Code in case you want to read Accel and/or Gyro in fifo mode and also read the Compass Data.
The problem is caused because of the internal variable st.chip_cfg.bypass_mode (in inv_mpu.c) is per default True. In Regular Setup (without using FIFO) the Aux I2C is used in Master Mode (bypass disabled). The bypass flag is not used and the register is written directly to.
When swit

[2020-01-03 02:11] lannerxiii opened #39 "Unable to get raw accelerometer data after calculating quaternion"
Hello, I am facing a problem getting raw accelerometer data. I need to substract the gravity from my raw accel data,so I am calculating my quaternions with DPM. My code is the following

[code]

Im using the DPM Quaternion example and made those modifications, but my ax, ay and Az values are zero.  The main loop it's exactly the one from the example, I only removed the call to computeEulerAngles()

[2020-01-03 14:49] cristian1706 commented on #39
I am with the same problem... if anyone could help us I would appreciate it

[2020-01-05 16:05] savejeff opened #40 "Bug in setLowPass Filter Function - Accel lowpass is never configured"
The function "imu.setLPF();" does not set the Accel Low Pass register but only the Gyro and Temperature Lowpass. i thing that is due to the difference to the very similar MPU6050 where both accel and gyro LP are set in the same register.

Hier the incorrect function call from the Example Library

________________________________________________________________
// setLPF() can be used to set the di

[2020-01-05 17:36] savejeff commented on #10
do you use the FIFO ? there is a bug with enabling the fifo that disables master mode of aux i2c. see my issue on that from a few days ago

[2020-01-08 02:41] santaimpersonator commented on #40
Thanks for looking into this issue! Feel free to file a pull request and I'll update the library.

[2020-01-08 08:19] savejeff commented on #40
Hi!
I myself have never contributed to a GitHub project but if I find the time I'll try to create a fix.
while working this the code I had problems understanding the struct that holds the registers. I understand its to make it compatible with multiple sensors but its very hard to find a good solution without step-by-step debugging

[2020-01-08 19:17] santaimpersonator commented on #40
Contributing is relatively simple:
1. you create a fork of the repository
2. make the changes in that fork
3. submit a pull request to the original project

GitHub has a [simple guide](https://guides.github.com/activities/forking/) on forking a project that should help get you started. After the pull request is submitted, we review the changes before accepting them. Once that is done, we will publ

[2020-01-19 14:40] savejeff commented on #40
Thanks for the little guideline.

For me personally its less of a technical problem but a time problem.
I'm not sure if I find the time to implement it in the library. But if I do I'll submit a pull request.

[2020-01-23 10:15] beegee-tokyo commented on #39
I got it to work with both DMP FiFo AND mag values by initializing like this:
[code]
and then in my loop I read the data like this
[code]

[2020-01-27 21:06] cristian1706 commented on #39
Thank you very much, I will be testing this soon! :D

[2020-01-31 20:44] matthewbaggett commented on #20
It would be really nice if there was a way to set this.

[2020-02-02 10:04] beegee-tokyo commented on #39
Weird. My above solution worked perfectly with a nRF52832 Feather board and a ESP32 Feather board, but fails on my custom board with an Insight ISP4520 (Nordic nRF52832 + Semtech SX1262 LoRa transceiver).
Still investigating.

[2020-02-03 12:12] cristian1706 commented on #39
Thanks! Please let me know

[2020-03-11 03:02] woody5418 opened #41 "When loading the sparkfun_mpu-9250-dmp_arduino_library library with platformio, the min function was not found"
The problem has been solved by itself, and I would like to add the following macro definition to "/ SRC /util/inv_mpu.c", which is compatible with other platforms' support for this code.

#include <Arduino.h>
#ifndef min
#define min _min
#endif
#define MPU9250

[2020-03-16 16:59] santaimpersonator commented on #36
Closing due to lack of response.

[2020-03-16 16:59] #36 closed, assigned to nobody

[2020-03-16 17:04] santaimpersonator commented on #33
Sounds like users solved own issue... closing.

[2020-03-16 17:04] #33 closed, assigned to nobody

[2020-06-25 15:17] Bug38 opened #42 "Use 2 IMU with 1 arduino"
Hi !

I'm working on a project that needs 2 IMUs in order to locate 2 hardware pieces relatively to each other.

Is it possible to use 2 IMUs on a single MKRZERO ?

Thanks

Bug38

[2020-07-02 18:53] ltwin8 opened #43 "Arduino Micro Tap Detection and Wake On Motion (I2C)"
Hello,

i am trying to program a little "LED-Cube", battery powered, wirelessly charged and not accessible from outside.

The MPU9250 and Atmega32u4 are already used, so not really easy to use other boards.

I am thinking about the following:

The Atmega32u4 should control a bunch of WS2812 LEDs, that code works (controls color depending on the orientation of the cube (on what face it rests))

now

[2020-10-08 20:31] santaimpersonator commented on #42
Hi there, it sounds like you are looking for [technical assistance](https://www.sparkfun.com/technical_assistance). Please use the link, to get started with posting a topic in our [forums](https://forum.sparkfun.com/). Our technical support team will do their best to assist you.

That being said, not if they have the same I2C address.

[2020-10-08 20:31] #42 closed, assigned to nobody

[2020-10-11 15:39] JoergSH opened #44 "Mag Calibration Missing"
Hello,
Is a great Libary but I missing mag calibration. Why never be implemented ?
So the compass never could be work corect.
regards

[2020-11-11 09:07] nsk126 opened #45 "INF ouput when reading Quaternions"
Able to read raw Accel, Gyro and Mag values but unable to get Quaternion or Euler angles even from the example sketch
on Atmega2560

![image](https://user-images.githubusercontent.com/27050474/98791032-7bd95880-242a-11eb-8f41-0ead443434c9.png)
![image](https://user-images.githubusercontent.com/27050474/98791307-e12d4980-242a-11eb-9c34-aad42302a578.png)

[2021-11-04 23:19] zjor opened #47 "dmpSetAccelBias is undefined"
Hi,
I'm trying to read RPY values but they are floating all the time.
Is there any way to load calibrated values?

It seems there is a method: `MPU9250_DMP::dmpSetAccelBias(long*)` but there is no implementation.

Please provide a calibration example so that RPY values don't change when the IMU is standing still.

Thanks in advance!

[2021-11-28 09:03] 1larity commented on #41
Thank you, resolved  build issue on ESP32 for me.
.

[2022-02-06 20:12] froussel opened #48 "Reboot in SparkFunMPU9250-DMP.cpp at line 46"
Hello,

I use
#include <U8g2lib.h>
#include <Arduino.h>
#include <SPI.h>
#include <SparkFunMPU9250-DMP.h>
#include <Chrono.h>
#include "OneButton.h"

if I run screen u2g2lib, chrono, onebutton  in first : no problem
After ESP8266 wemos D1 mini reboot with
result = mpu_init(&int_param);   in  SparkFunMPU9250-DMP.cpp

what is the solution please ?

SparkFunMPU9250-DMP.cpp

[2022-02-08 07:25] froussel commented on #48
`/* Go to your SparkFun library (this is usually Documents\Arduino\libraries\SparkFun_MPU-9250-DMP_Arduino_Library-master)
navigate to src\util and edit the file
inv_mpu.h Somewhere at the beginning of file, just below the line that says
#define INV_MPU_H
add the following line:
#define min(X, Y) (((X) < (Y)) ? (X) : (Y))
and the library is good for ESP266 and ESP32
now with ESP8266 Wemos D1 Mini

[2022-03-28 03:56] Shogun5 opened #49 "Change I2C address"
Excuse me.
Is it possible to read quaternion data from two MPU9250 sensors?

[2022-06-08 11:49] AtharvaBhorpe opened #50 "[Arduino IDE] Error Compiling for Raspberry Pi Pico"
I tried to compile the "Quaternion" example for RPi Pico from Arduino IDE using the "Arduino MBED OS for RP2040 Boards" Board Library by Arduino itself.
But I get the following error when Compiling:

"""
WARNING: library SparkFun_MPU-9250-DMP_Arduino_Library-master claims to run on samd architecture(s) and may be incompatible with your current board which runs on mbed_rp2040 architecture(s).
In fi

[2022-11-17 08:29] zoldaten opened #51 "MPU on raspberry pi 4"
hi!
thanks Gods i have implemented MPU on raspberry pi 4 raspbian with ROS noetic and
everything works perfects with vpython example.
i plan to use MPU with ORB_SLAM3.

here`s my steps if someone want to follow:
[code]

But i have some questions:
1.
how to set frequency of MPU ?
i have change my_razor.yaml:
`pub_rate: 200.0`
is that the way?
2.
how to understand axis on the board ?
i saw X and Y a